<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions">
        <plugin name="infrangible_catalogproductoptioninfo" type="Infrangible\CatalogProductOptionInfo\Plugin\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions"/>
    </type>
    <virtualType name="Infrangible\CatalogProductOptionInfo\Model\ImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">tmp/custom_options</argument>
            <argument name="basePath" xsi:type="string">wysiwyg/custom_options</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="png" xsi:type="string">png</item>
                <item name="gif" xsi:type="string">gif</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Infrangible\CatalogProductOptionInfo\Controller\Adminhtml\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Infrangible\CatalogProductOptionInfo\Model\ImageUploader</argument>
        </arguments>
    </type>
</config>
